<div ngClass="content">
    <div class="inner-content">
        <h1>Welcome Back</h1>
        <p ngClass="keyline"> "Your keyboard and ideas are in sync again."</p>
        <input ngClass="email" type="email" placeholder="Email" #email>
        <input ngClass="pass" type="password" placeholder="Password" #password>
        <button (click)="login()" ngClass="login"><p>Login</p></button>
        <p ngClass="signup">New to this community? <span (click)="signUp()">Create new account</span></p>
    </div>
</div>
