<div class="card">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg" alt="">
    <div class="btns">
        <div class="mains">
            <fa-icon [icon]="heart"></fa-icon>
            <fa-icon [icon]="comment"></fa-icon>
        </div>
        <fa-icon [icon]="bookmark"></fa-icon>
    </div>
    <p>Liked by 12,000 devs</p>
    <section class="info">
        <div class="profile-img">
            <img src="https://wallpapers.com/images/hd/cool-profile-picture-87h46gcobjl5e4xu.jpg" alt="">
        </div>
        <p>Requesting testing on my website</p>
    </section>
</div>