<div ngClass="contentss">
    <div class="cover">
        <img class="cover-image" [src]=imagePreview>
        <div ngClass="input">
            <input  type="file" accept="image/*" (change)="onImageInputChange($event)" class="pickImage" id="blogThumb">
            <label for="blogThumb" class="thumbButtn">Select image</label>
            <h1>Composition</h1>
            <div class="tag-heading">
                <p>Tag: </p>
                <input type="text" class="tags" placeholder="Share the essence of your creativity" (keypress)="addTag($event)" [(ngModel)]="tagInput"></div>
            <p class="helper">Pick any of the 5 tags</p>
            <div class="selected">
                <div *ngFor="let tag of tags; let i=index" class="tag">
                    <p>{{tag}}</p>
                    <i class="fa-solid fa-xmark" style="color: #a6a6a6;" (click)="deleteTag(i)"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="title-area"><span #textareaElement ngClass="textarea" role="textbox" contenteditable (input)="handleTitle($event)" [spellcheck]="false"></span></div>
<div #editor style="color: rgb(204, 204, 204); width: 100%" [spellcheck]="false"></div>
<button type="button" (click)="saveData()" class="container"><p>Upload</p></button>
</div>