@import '../styles.scss';

.view{
    left: $nav-bar-width;
    padding: 1% 2%;
    position: fixed;
    // height: 100%;
    top: 20px;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    // border-top-left-radius: 20px;
    // border-bottom-left-radius: 20px;
    background-color: rgba(19, 19, 19, 0.932);
    overflow-x: hidden;
}

.circle {
    z-index: -10;
    position: fixed;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgb(166, 0, 255);
  }
  .circle2 {
    z-index: -10;
    position: fixed;
    width: 25vw;
    height: 25vw;
    bottom: 10vh;
    left: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 0, 251);
  }
  .circle3 {
    z-index: -10;
    position: fixed;
    width: 20vw;
    height: 20vw;
    right: 25vw;
    top: 20vh;
    border-radius: 50%;
    background-color: rgb(0, 225, 255);
  }
  .circle1 {
    z-index: -10;
    position: fixed;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    /* top: 15vh; */
    /* left: 30vw; */
    right: 0;
    bottom: 0;
    background-color: rgb(76, 0, 255);
  }
  
  .glass {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -9;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.733);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
  }


  .footer{
    margin-top: 100px;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.363);
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      margin: 20px 0;
    }

    .intro{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    p{
        font-weight: bold;
        color: white;
        font-size: 2rem;
    }

    }

    .contact{
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        cursor: pointer;
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 10px;
      }
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .layer{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.874);
      z-index: 1;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  }
