@import '../../../styles.scss';

a{
    @include flex-display;
    width: calc($nav-bar-width - 2vw);
    height: 50px;
    justify-content: start;

    i{
        margin:0 10%;
        font-size: $iconsize;
        color: $lightgrey;
    }

    p{
        color: $lightgrey;
        font-size: $paragraph;
    }
}

a.active{
    width: calc($nav-bar-width - 2vw);
    border-radius: 20px;
    background: linear-gradient(270deg,#00ffc8,#4400ff);
    i , p{
        color: white;
    }
}
