<div ngClass="content">
    <div class="inner-content">
        <h1>Create new profile</h1>
        <div ngClass="cover"><img class="cover-image" [src]=imagePreview></div>
        <div ngClass="input">
            <input type="file" accept="image/*" (click)="onImageInputChange()" class="pickImage" id="avatar">
            <label for="avatar" class="avatarBtn">Pick avatar</label>
        </div>

        <input ngClass="username" type="text" placeholder="Create new Username" #username>
        <textarea placeholder="About" #about></textarea>
        <button ngClass="create" (click)="createProfile()"><p>Create Profile</p></button>
    </div>

</div>
