
<div class="content">
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
    <app-project-container></app-project-container>
</div>
